/* Indicamos con un selector universal que indique por herencia que se respete el ancho de todas las cajas(box) de los elementos */
*{
    box-sizing: border-box;
}

.container {
  width: 19.2%;
  height: 50em;
  background: rgb(240, 240, 240);
  /*outline: 1px solid black;*/

}
h1 {
  font-size: 40px;
  margin: 10;
  padding-left: 20px;
  line-height: 60px;
  /*outline: 1px solid black;*/
}
.menu {
  width: 18%;
  position: fixed;
  left: 15px;
  /*outline: 1px solid black;*/
}
.box {
  line-height: 60px;
  font-size: 25px;
  padding-left: 20px;
  background-color: rgb(190, 190, 190);
}
#yellow {
background-color:rgb(270, 170, 0);
}
